# Crop yield and cost Prediction

In [30]:
from tkinter import *
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("re1.csv")

In [32]:
df

,Sugercane,Rice,Tobacco,Wheat,Coconut,Yam,Sweetpotato,Tapioca,Turmeric,WaterMelon,...,Whole Year,Autumn,TA50,TA60,TA80,HB25,HA25,HA60,HA80,Class
0,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,Cost Yield is ten tons and Cost Production is ...
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Cost Yield is one ton and Cost Production is t...
2,0,1,0,0,0,0,0,0,0,1,...,0,1,0,1,0,1,0,0,0,Cost Yield is twenty tons and Cost Production ...
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Cost Yield is two tons and Cost Production is ...
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,Cost Yield is one ton and Cost Production is t...
5,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,1,0,0,Cost Yield is one ton and Cost Production is t...
6,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,Cost Yield is one ton and Cost Production is t...
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,Cost Yield is three tons and Cost Production i...
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,Cost Yield is three tons and Cost Production i...
9,0,0,0,0,0,1,0,0,0,1,...,1,0,1,0,0,0,0,1,0,Cost Yield is three tons and Cost Production i...
10,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,Cost Yield is one ton and Cost Production is t...
11,1,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,1,0,Cost Yield is one ton and Cost Production is t...
12,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,1,0,0,Cost Yield is six tons and Cost Production is ...
13,0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,Cost Yield is one ton and Cost Production is t...
14,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,Cost Yield is one ton and Cost Production is t...
15,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,0,Cost Yield is one ton and Cost Production is t...
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Cost Yield is two tons and Cost Production is ...
17,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,Cost Yield is two tons and Cost Production is ...
18,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,1,Cost Yield is two tons and Cost Production is ...
19,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,Cost Yield is two tons and Cost Production is ...
20,0,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,1,0,0,0,Cost Yield is two tons and Cost Production is ...
21,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Cost Yield is two tons and Cost Production is ...
22,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,Cost Yield is five tons and Cost Production is...
23,0,0,0,1,0,0,0,0,0,1,...,1,0,1,0,0,0,0,1,0,Cost Yield is five tons and Cost Production is...
24,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,Cost Yield is five tons and Cost Production is...
25,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,Cost Yield is five tons and Cost Production is...
26,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,Cost Yield is five tons and Cost Production is...
27,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,Cost Yield is one ton and Cost Production is t...
28,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Cost Yield is one ton and Cost Production is t...
29,0,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,Cost Yield is one ton and Cost Production is t...
30,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,1,0,0,0,Cost Yield is one ton and Cost Production is t...
31,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,1,0,0,Cost Yield is one ton and Cost Production is t...
32,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,Cost Yield is ten tons and Cost Production is ...
33,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Cost Yield is ten tons and Cost Production is ...
34,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,Cost Yield is ten tons and Cost Production is ...

In [33]:
df.shape

(35, 58)

In [34]:
df.columns

Index(['Sugercane', 'Rice', 'Tobacco', 'Wheat', 'Coconut', 'Yam',
       'Sweetpotato', 'Tapioca', 'Turmeric', 'WaterMelon', 'Urad', 'Varagu',
       'Banana', 'DINDIGUL', 'THE NILGIRIS', 'KARUR', 'KRISHNAGIRI', 'MADURAI',
       'NAGAPATTINAM', 'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'SALEM',
       'THANJAVUR', 'THENI', 'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI',
       'TIRUPPUR', 'TIRUVANNAMALAI', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR',
       'COIMBATORE', 'CUDDALORE', 'DHARMAPURI', 'ERODE', 'KANNIYAKUMARI',
       'KANCHIPURAM', 'ARIYALUR', 'RAMANATHAPURAM', 'SIVAGANGA', 'THIRUVALLUR',
       'TUTICORIN', 'Summer', 'Winter', 'Kharif', 'Rabi', 'Whole Year',
       'Autumn', 'TA50', 'TA60', 'TA80', 'HB25', 'HA25', 'HA60', 'HA80',
       'Class'],
      dtype='object')

In [35]:
l1=['Sugercane', 'Rice', 'Tobacco', 'Wheat', 'Coconut', 'Yam',
       'Sweetpotato', 'Tapioca', 'Turmeric', 'WaterMelon', 'Urad', 'Varagu',
       'Banana']

In [36]:
l2=['DINDIGUL', 'THE NILGIRIS', 'KARUR', 'KRISHNAGIRI', 'MADURAI',
       'NAGAPATTINAM', 'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'SALEM',
       'THANJAVUR', 'THENI', 'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI',
       'TIRUPPUR', 'TIRUVANNAMALAI', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR',
       'COIMBATORE', 'CUDDALORE', 'DHARMAPURI', 'ERODE', 'KANNIYAKUMARI',
       'KANCHIPURAM', 'ARIYALUR', 'RAMANATHAPURAM', 'SIVAGANGA', 'THIRUVALLUR',
       'TUTICORIN']

In [37]:
l4=[ 'Summer', 'Winter', 'Kharif', 'Rabi', 'Whole Year',
       'Autumn']

In [38]:
l5=['TA50', 'TA60', 'TA80']

In [39]:
l6=['HB25', 'HA25', 'HA60', 'HA80']

In [40]:
df['Class'].unique()

array(['Cost Yield is ten tons and Cost Production is ten lakshs',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is twenty tons and Cost Production is fourty lakshs',
       'Cost Yield is two tons and Cost Production is fourty thousand',
       'Cost Yield is three tons and Cost Production is sixty thousand',
       'Cost Yield is six tons and Cost Production is six lakshs ',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is ten tons and Cost Production is two lakshs'],
      dtype=object)

In [41]:
cropyc=['Cost Yield is ten tons and Cost Production is ten lakshs',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is twenty tons and Cost Production is fourty lakshs',
       'Cost Yield is two tons and Cost Production is fourty thousand',
       'Cost Yield is three tons and Cost Production is sixty thousand',
       'Cost Yield is six tons and Cost Production is six lakshs ',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is ten tons and Cost Production is two lakshs']

In [42]:
l7=['Sugercane', 'Rice', 'Tobacco', 'Wheat', 'Coconut', 'Yam',
       'Sweetpotato', 'Tapioca', 'Turmeric', 'WaterMelon', 'Urad', 'Varagu',
       'Banana','DINDIGUL', 'THE NILGIRIS', 'KARUR', 'KRISHNAGIRI', 'MADURAI',
       'NAGAPATTINAM', 'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'SALEM',
       'THANJAVUR', 'THENI', 'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI',
       'TIRUPPUR', 'TIRUVANNAMALAI', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR',
       'COIMBATORE', 'CUDDALORE', 'DHARMAPURI', 'ERODE', 'KANNIYAKUMARI',
       'KANCHIPURAM', 'ARIYALUR', 'RAMANATHAPURAM', 'SIVAGANGA', 'THIRUVALLUR',
       'TUTICORIN','Summer', 'Winter', 'Kharif', 'Rabi', 'Whole Year',
       'Autumn','TA50', 'TA60', 'TA80','HB25', 'HA25', 'HA60', 'HA80']

In [43]:
l8=[]
for x in range(0,len(l7)):
    l8.append(0)

In [44]:
df.replace({'Class':{'Cost Yield is ten tons and Cost Production is ten lakshs':0,
       'Cost Yield is one ton and Cost Production is twenty thousand':1,
       'Cost Yield is twenty tons and Cost Production is fourty lakshs':2,
       'Cost Yield is two tons and Cost Production is fourty thousand':3,
       'Cost Yield is three tons and Cost Production is sixty thousand':4,
       'Cost Yield is six tons and Cost Production is six lakshs ':5,
       'Cost Yield is two tons and Cost Production is fourty  thousand':6,
       'Cost Yield is five tons and Cost Production is one lakshs':7,
       'Cost Yield is ten tons and Cost Production is two lakshs':8}},inplace=True)

In [45]:
X= df[l7]


y = df[["Class"]]
np.ravel(y)

array([0, 1, 2, 3, 1, 1, 1, 4, 4, 4, 1, 1, 5, 1, 1, 1, 6, 6, 6, 6, 6, 6,
       7, 7, 7, 7, 7, 1, 1, 1, 1, 1, 8, 8, 8], dtype=int64)

In [46]:
# TRAINING DATA tr --------------------------------------------------------------------------------
tr=pd.read_csv("tere1.csv")

In [47]:
X_test= tr[l7]
y_test = tr[["Class"]]
np.ravel(y_test)

array(['Cost Yield is ten tons and Cost Production is ten lakshs',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is twenty tons and Cost Production is fourty lakshs',
       'Cost Yield is two tons and Cost Production is fourty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is three tons and Cost Production is sixty thousand',
       'Cost Yield is three tons and Cost Production is sixty thousand',
       'Cost Yield is three tons and Cost Production is sixty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is six tons and Cost Production is six lakshs ',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is two tons and Cost Production is fourty  thousand',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is five tons and Cost Production is one lakshs',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is one ton and Cost Production is twenty thousand',
       'Cost Yield is ten tons and Cost Production is two lakshs',
       'Cost Yield is ten tons and Cost Production is two lakshs',
       'Cost Yield is ten tons and Cost Production is two lakshs'],
      dtype=object)

In [48]:
def randomforest():
    from sklearn.ensemble import RandomForestClassifier
    clf4 = RandomForestClassifier()
    clf4 = clf4.fit(X,np.ravel(y))

    # calculating accuracy-------------------------------------------------------------------
    from sklearn.metrics import accuracy_score
    y_pred=clf4.predict(X_test)
    print(accuracy_score(y_test, y_pred))
    print(accuracy_score(y_test, y_pred,normalize=False))
    # -----------------------------------------------------

    terms = [Dist.get(),Season.get(),Tl.get(),Hl.get(),Crop.get()]

    for k in range(0,len(l7)):
        for z in terms:
            if(z==l7[k]):
                l8[k]=1

    inputtest = [l8]
    predict = clf4.predict(inputtest)
    predicted=predict[0]

    h='no'
    for a in range(0,len(cropyc)):
        if(predicted == a):
            h='yes'
            break

    if (h=='yes'):
        t2.delete("1.0", END)
        t2.insert(END, cropyc[a])
    else:
        t2.delete("1.0", END)
        t2.insert(END, "Not Found")

In [49]:

root = Tk()
root.configure(background='black')

In [50]:
# gui_stuff------------------------------------------------------------------------------------


# entry variables

Dist = StringVar()
Dist.set(None)

Season = StringVar()
Season.set(None)

Crop =StringVar()
Crop.set(None)

Tl = StringVar()
Tl.set(None)

Hl = StringVar()
Hl.set(None)

Yl = StringVar()
Yl.set(None)



fn= StringVar()
vn= StringVar()

rl= IntVar()

In [51]:

# Heading
w2 = Label(root, justify=LEFT, text="Prediction of Yield and Yield cost by Crop using Machine Learning", fg="white", bg="red")
w2.config(font=("Elephant", 20))
w2.grid(row=1, column=0, columnspan=2, padx=100)
w2 = Label(root, justify=LEFT, text="Tamilnadu Agricultural Department", fg="green")
w2.config(font=("Times Roman", 15))
w2.grid(row=2, column=0, columnspan=2, padx=100)

In [52]:
# labels
FNLb = Label(root, text="Farmer Name",fg="yellow", bg="black")
FNLb.grid(row=5, column=0, pady=15, sticky=W)

VNLb = Label(root, text="Village Name",fg="yellow", bg="black")
VNLb.grid(row=6, column=0, pady=15, sticky=W)






RFLb = Label(root, text="Rainfall Value",fg="yellow", bg="black")
RFLb.grid(row=8, column=1, pady=15, sticky=W)

In [53]:
# labels
dtLb = Label(root, text="District Name",fg="yellow", bg="black")
dtLb.grid(row=8, column=0, pady=15, sticky=W)

seLb = Label(root, text="Season Details",fg="yellow", bg="black")
seLb.grid(row=9, column=0, pady=15, sticky=W)

tlLb = Label(root, text="Temperature Level",fg="yellow", bg="black")
tlLb.grid(row=5, column=1, pady=15, sticky=W)

hlLb = Label(root, text="Humidity Level",fg="yellow", bg="black")
hlLb.grid(row=6, column=1, pady=15, sticky=W)


crLb = Label(root, text="Crop Details",fg="yellow", bg="black")
crLb.grid(row=7, column=1, pady=15, sticky=W)

In [54]:




ranfLb = Label(root, text="RandomForest", fg="white", bg="red")
ranfLb.grid(row=15, column=0, pady=10, sticky=W)

In [55]:
# entries
OPTIONS1 = sorted(l1)
OPTIONS2 = sorted(l2)

OPTIONS4 = sorted(l4)
OPTIONS5 = sorted(l5)
OPTIONS6 = sorted(l6)

In [56]:



FNEn = Entry(root, textvariable=fn)
FNEn.grid(row=5, column=0)

VNEn = Entry(root, textvariable=vn)
VNEn.grid(row=6, column=0)



RFEn = Entry(root, textvariable=rl)
RFEn.grid(row=8, column=1)







crEn = OptionMenu(root, Crop,*OPTIONS1)
crEn.grid(row=7, column=1)


dtEn = OptionMenu(root, Dist,*OPTIONS2)
dtEn.grid(row=8, column=0)

seEn = OptionMenu(root, Season,*OPTIONS4)
seEn.grid(row=9, column=0)

tlEn = OptionMenu(root, Tl,*OPTIONS5)
tlEn.grid(row=5, column=1)

hlEn = OptionMenu(root, Hl,*OPTIONS6)
hlEn.grid(row=6, column=1)

In [57]:
rnf = Button(root, text="Check the result", command=randomforest,bg="cyan",fg="green")
rnf.grid(row=15, column=1,padx=10)

In [58]:
#textfileds
t2 = Text(root, height=1, width=70,bg="orange",fg="black")
t2.grid(row=15, column=0 , padx=10)

root.mainloop()